html
  body
    div
      a(href=`/games/${gameName}/${gameVersion}`) Back to games list
      br
      a(href=`/games/${gameName}/${gameVersion}`) Back to "#{gameName} versions list
    iframe(src=`/static/${gameName}/${gameVersion}/index.html` style="width: 100%; height: 100%;") There should've been a game :(