html
  body
    a(href='/games') Back to list of games
    div Versions:
    if gameVersions.length
      - for (var gameVersionIndex = 0; gameVersionIndex < gameVersions.length; gameVersionIndex++)
        a(href=`/games/${gameName}/${gameVersions[gameVersionIndex]}`)= gameVersions[gameVersionIndex]
    else
      div No game versions is released for now :(