html
  body
    div Projects:
    if folders.length
      - for (var folderIndex = 0; folderIndex < folders.length; folderIndex++)
        a(href=`/games/${folders[folderIndex]}`)= folders[folderIndex]
    else
      div Not games is released for now :(